<div class="body">
    <div class="login">
      <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
      <form *ngIf="!loading" [formGroup]="loginForm" (ngSubmit)="login()"> 
          <img src="../../../assets/images/logoAutosimple.png">

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput autocomplete="off" formControlName="username">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput autocomplete="off" formControlName="password" type="password">
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Ingresar</button>

      </form>
    </div>
</div>
